## ASSIGNMENT DAY 2

## SLASH LINES

In [19]:
print("HELLO \
WORLD")

HELLO WORLD

## TRIPLE QUOTES

In [7]:
print('''   (\_/)
( •,•)
(")_(")
           
           '''   )

   (\_/)
( •,•)
(")_(")

## ESCAPE SEQUENCE

In [23]:
print("hello \tpython")

hello 	python

In [24]:
print("hello \npython")

hello
python

In [25]:
print("python's world")

python's world

In [26]:
print('python\'s world')

python's world

## FORMATTED OUTPUT

In [28]:
name="xyz"
marks=90.895
age=20
print("the name of person is",name,"mark is",marks,"age is",age)

the name of person is xyz mark is 90.895 age is 20

In [29]:
print("the name of person is %s marks is %f age is %d"%(name,marks,age))

the name of person is xyz marks is 90.895000 age is 20

In [30]:
print("the name of person is %5s marks is %2.1f age is %10d"%(name,marks,age))

the name of person is   xyz marks is 90.9 age is         20

In [35]:
x=20
y=20
id(x)

263838224

In [36]:
id(y)

263838224

## ARITHMETIC OPERATOR

In [37]:
5**5

3125

In [38]:
10+20

30

In [39]:
10-20

-10

In [40]:
10/7

1.4285714285714286

In [41]:
10%6

4

In [42]:
10//7

1

## BITWISE OPERATOR

In [43]:
bin(240)

'0b11110000'

In [44]:
240|34

242

In [45]:
240&1

0

In [46]:
~341

-342

In [47]:
240^43

219

In [48]:
256<<54

4611686018427387904

In [49]:
34>>45

0

## ASSIGNMENT OPERATOR

In [53]:
a=53
b=52
a+=b

In [54]:
print(a)

105

In [56]:
a=53
b=52
a-=b
print(a)

1

In [57]:
a=53
b=52
a*=b
print(a)

2756

In [58]:
a=53
b=52
a/=b
print(a)

1.0192307692307692

In [59]:
a=53
b=52
a**=b
print(a)

459563172924956832688256726794428783368555719409163034801983601501447558663211760401059441

## COMPARISON OPERATOR

In [60]:
A=14
B=56
A==B

False

In [61]:
A<B

True

In [62]:
A>B

False

In [63]:
A<=B

True

In [64]:
A>=B

False

In [65]:
A!=B

True

## LOGICAL OPERATORS

In [68]:
a=34
b=57
b>34 and b<45

False

In [69]:
a<45 or b>45

True

In [70]:
not a<45

False

## MEMBERSHIP OPERATOR

In [72]:
STR1="AYFGYGFGFSEEGREB"
"A" in STR1

True

In [73]:
"X" in STR1

False

In [74]:
"A" not in STR1

False

In [75]:
"X" not in STR1

True

## IDENTITY OPERATORS

In [76]:
A=234
B=234
A is B

True

In [77]:
A is not B

False

## OPERATOR PRECEDENCE

In [78]:
10+10/29*8

12.758620689655173

In [79]:
34/45+45-52

-6.244444444444447